* {
  font-family: verdana;
  background-color: lightblue;
}

h1 {
  font-family: "Pathway Gothic One";
  text-align: center;
  background-color: yellow;
}

.underline {
  font-family : "Raleway";
  text-decoration: underline;
}

.content {
  display: flex;
}

.content img {
  margin-right: 10px;
  display: block;
}
.content p {margin: 0;}

table, th, td {
  border: 1px solid black;
}

